# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.TheTaleoftheGreenhouse.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Robin\Desktop\TheTaleoftheGreenhouse\TheTaleoftheGreenhouse\.idea\.idea.TheTaleoftheGreenhouse\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
